{% extends 'base.html' %}

{% block title %}
Личный кабинет
{% endblock title %}

{% block content %}
{% load widget_tweaks %}

  <div class="row justify-content-md-center">
    <div class="col-xl-6">

      <div class="card mb-4">
        <h5 class="card-header">{{ user }}</h5>
        <div class="card-body">
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row g-2">
              <div class="col mb-3">
                <label class="form-label" for="basic-default-name">Логин</label>
                {% render_field form.username class="form-control" type="text" value="" id="basic-default-name" placeholder="svivanov" %}
              </div>
              <div class="col mb-3">
                <label for="basic-default-email" class="form-label">Эл. почта</label>
                {% render_field form.email type="email" class="form-control" id="basic-default-email" placeholder="sivanov@mail.ru" %}
              </div>
            </div>
            <div class="row g-3">
              <div class="col mb-3">
                <label class="form-label" for="basic-default-last">Фамилия</label>
                {% render_field form.last_name class="form-control" type="text" value="" id="basic-default-last" placeholder="Иванов" %}
              </div>
              <div class="col mb-3">
                <label class="form-label" for="basic-default-first">Имя</label>
                {% render_field form.first_name class="form-control" type="text" value="" id="basic-default-first" placeholder="Степан" %}
              </div>
              <div class="col mb-3">
                <label class="form-label" for="basic-default-second">Отчество</label>
                {% render_field form.second_name class="form-control" type="text" value="" id="basic-default-second" placeholder="Владимирович" %}
              </div>
            </div>
            <div class="row g-3">
              <div class="col mb-3">
                <label class="form-label" for="basic-default-pas">Статус</label>
                <div class="d-grid gap-2 col-lg-12 mx-auto">
                  <button type="button" class="btn btn-secondary" id="basic-default-pas" onclick="document.location='{% url 'change_password' %}'">Изменить пароль</button>
                </div>
              </div>
              <div class="col mb-3">
                <label class="form-label" for="basic-default-dep">Отдел</label>
                {% render_field form.department class="form-select" id="basic-default-dep" aria-label="Default select example" %}
              </div>
              <div class="col mb-3">
                <label for="basic-default-photo" class="form-label">Фото</label>
                {% render_field form.photo class="form-control" type="file" id="basic-default-photo" %}
              </div>
            </div>
            <div class="row mt-3">
              <div class="d-grid gap-2 col-lg-4 mx-auto">
                <button class="btn btn-primary btn-lg" type="submit">Изменить</button>
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
{% endblock content %}