{% extends 'base.html' %}

{% block title %}
Канбан
{% endblock title %}

{% block content %}

  <!-- Columns -->
  {% for column in columns %}
  <div class="col-md-6 col-lg-3">
    <h5 class="mt-2">{{ column.label }}</h5>
    <div class="accordion mt-4 accordion-without-arrow" id="{{ column.tag }}">

      {% for date, tasks in column.objects.items %}
        <h6 class="mt-2 text-muted">{{ date }}</h6>
        {% for task in tasks %}
          <div class="card accordion-item">
            <h2 class="accordion-header text-body d-flex justify-content-between" id="heading{{ task.pk }}">
              <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordion{{ task.pk }}" aria-expanded="false" aria-controls="accordion{{ task.pk }}">
                <div class="demo-inline-spacing">
                  {% if task.priority == 3 %}
                    <span class="badge badge-center bg-success">3</span>
                  {% elif task.priority == 2 %}
                    <span class="badge badge-center bg-warning">2</span>
                  {% elif task.priority == 1 %}
                    <span class="badge badge-center bg-danger">1</span>
                  {% endif %}
                  {{ task.name }}
                </div>
              </button>
            </h2>
            <div id="accordion{{ task.pk }}" class="accordion-collapse collapse" data-bs-parent="#{{ column.tag }}" style="">
              <div class="accordion-body">
                <p class="card-text">
                  {% for project in task.project.all %}
                    <a class="text-muted" href="{% url 'kanban_project_page' project.id %}">{{ project }}</a>&nbsp&nbsp&nbsp&nbsp
                  {% endfor %}
                </p>
                <p class="card-text">
                  {{ task.about|truncatewords:20 }}
                </p>
                <p class="card-text">
                  <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
                  {% for employee in task.employee.all %}
                    <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" class="avatar avatar-xs pull-up" title="" data-bs-original-title="{{ employee }}">
                      <a href="{% url 'kanban_employee_page' employee.id %}">
                      {% if employee.photo %}
                        <img src="{{ MEDIA_DIR }}{{ employee.photo.url }}" alt="Avatar" class="rounded-circle">
                      {% else %}
                        <img src="/media/photos_of_employees/default.png" alt="Avatar" class="rounded-circle">
                      {% endif %}
                      </a>
                    </li>
                  {% endfor %}
                  </ul>
                </p>
                <div class="demo inline-spacing">
                  <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    {% if task.status == 'TD' %}
                      Запланировано
                    {% elif task.status == 'DO' %}
                      В работе
                    {% elif task.status == 'DN' %}
                      На проверке
                    {% elif task.status == 'RL' %}
                      Завершено
                    {% endif %}
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'transfer_to_todo' task.pk %}">Запланировано</a></li>
                    <li><a class="dropdown-item" href="{% url 'transfer_to_doing' task.pk %}">В работе</a></li>
                    <li><a class="dropdown-item" href="{% url 'transfer_to_done' task.pk %}">На проверке</a></li>
                    <li><a class="dropdown-item" href="{% url 'transfer_to_release' task.pk %}">Завершено</a></li>
                  </ul>
                </div>
                {% if task.author_id == user_pk %}
                  <div class="demo-inline-spacing">
                    <button type="button" class="btn btn-sm btn-primary" onclick="document.location='http://127.0.0.1:8000/{{ task.pk }}/edit'">Редактировать</button>
                    <button type="button" class="btn btn-sm btn-primary" onclick="document.location='http://127.0.0.1:8000/{{ task.pk }}/delete'">Удалить</button>
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
      {% endfor %}

    </div>
  </div>
  {% endfor %}  
  <!-- /Columns -->

{% endblock content %}
